.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
html, body {
  background-color: #fff !important;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}
